.page-title {
	font-size: 45px;
	color: #fec91b;
	text-shadow: 0 3px 6px rgba(4, 4, 4, 0.18);
}

.total {
	color: #757575;
	font-size: 20px;
}

.navigation-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0rem;
	text-align: right;
}

.per-page {
	margin-right: 1rem;
}

.button {
	background-color: transparent;
	border: unset;
	font-size: 25px;
	color: #fec91b;
	cursor: pointer;
}
