.search {
	height: 40px;
	color: #363636;
	border-radius: 5px;
	font-size: 14px;
}

.search::placeholder {
	color: #686868;
	font-size: 14px;
}

.search-button {
	height: 40px;
	background-color: #fec91b;
	border-color: #fec91b;
}

.search:focus,
.search-button:focus {
	box-shadow: 0 0 0 0.25rem rgb(255, 202, 28, 0.5);
}
